body, html{
    width:100%;
    height:100%;
    background:black;
    overflow:hidden;
}
#contCont{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    transform: rotate(-45deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#cont{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:10rem;
    transform: rotate3d(1, 1, 0, 55deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.square{
    position:absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform .5s;
    border-radius:3px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.object{
    opacity:0%;
    background:white;
    border-radius:100%;
    width:100%;
    height:100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, -55deg) translate3d(20px, -20px, 12px) rotate3d(0, 0, 1, 45deg);
}
/* GOOD FOR 9x9 transform: rotate3d(1, 1, 0, -55deg) translate3d(20px, -20px, 1px) rotate3d(0, 0, 1, 45deg); */

/* transform: rotate3d(1, 1, 0, -55deg) translate3d(30px, -30px, 10px) rotate3d(0, 0, 1, 45deg); */
.wave{
    animation: bounce 4s infinite;
}

.clicked{
    animation: clicked 1s forwards;
}

@keyframes clicked{
    0%{
    }
    50%{
        transform: translate3d(0, 0, -.5px);
    }
    100%{
    }
}

@keyframes bounce{
    0%{
        transform: translate3d(0, 0, 0px);
    }
    50%{
        transform: translate3d(0, 0, -7px);
    }
    100%{
        transform: translate3d(0, 0, 0px);
    }
}
.controlsContainer{
    display:flex;
    flex-direction:row;
    gap:6px;
    position:absolute;
    left:51%;
    top:100%;
    transform:translateX(-50%) translateY(-50%);
}
.control{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    pointer-events:none;
    padding:1.2rem;
    position:relative;
    border-radius:10px;
    text-align:center;
    justify-content: center;
    border:1px solid white;
    color:white;
    opacity:50%;
}
.touchDemo{
    pointer-events:none;
    z-index:100;
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    border-radius:100%;
    height:10px;
    width:10px;
    border:5px solid white;
    animation: touchAnimation 5s forwards ease;
}
@keyframes touchAnimation {
    100%{
        opacity:0;
        height:100px;
        width:100px;
    }
}